.textview {line-height:150%;}
.hovering {background-color:yellow;border-radius: 0.25em}
.selected   {
	background-color:Highlight;
}
._selected_b {border-width:1px;border-left-style:dotted;border-top-left-radius:0.4em;border-bottom-left-radius:0.4em;}
._selected_e {border-width:1px;border-right-style:dotted;border-top-right-radius:0.4em;border-bottom-right-radius:0.4em;}
.appending {
	position:absolute;right:0;
}
.lv0{padding-bottom: 0px;}
.lv1{padding-bottom: 2px;}
.lv2{padding-bottom: 4px;}
.lv3{padding-bottom: 6px;}
.lv4{padding-bottom: 8px;}
.lv5{padding-bottom: 10px;}